@CHARSET "UTF-8";
.paginaCracha{
	width: 210mm;
	height: 279mm;
}

.cracha{
	margin: 5px;
	width: 100mm;
	height: 50mm;
	border: 1px solid #333;
	float:left;
	padding: 5px;
	text-align: center;
}

.cracha .nome {
	font-size: 30px;
	margin-bottom: 25px;
}

.cracha .nomeCompleto {
	font-size: 12px;	
	font-style:italic;
}

.cracha .numero {
	font-size: 25px;	
}